/* 
BANNER CAMBIANTE
----------------------------------------------- 
*/
#rotator img {
width: 600px;
height: 81px;
border: 0;
margin: 0;
padding: 0;
}

#rotator {
border: 0px solid #000000;
overflow: hidden;
margin: 0 auto;
padding:0px;
position: relative;
width: 600px;
height: 80px;

}
ul, ol, dl, li {
width: 600px;
height: 80px;
border: 0;
margin: 0;
padding: 0;
/* line-height: 1.5em; margin: 0 0 1em 0 */
 }